[mysqld]
report_host=localhost
explicit_defaults_for_timestamp=true
default-storage-engine=INNODB
master-info-repository=TABLE
datadir=/home/mysql/master/data
tmpdir=/home/mysql/master/tmp
slave_load_tmpdir=/home/mysql/master/tmp
log-error=/home/mysql/master/log/alert.log
slow_query_log_file=/home/mysql/master/log/slow.log
relay_log_info_file=/home/mysql/master/binlog/relay-log.info
master-info-file=/home/mysql/master/binlog/master.info
log-bin=/home/mysql/master/binlog/binlog
relay-log=/home/mysql/master/binlog/relaylog
query_cache_type=0
query_cache_size=0
sync_binlog=100
max_binlog_size =500M
binlog_cache_size=20M
binlog-format=ROW
expire_logs_days=14
#skip-grant-tables
default_password_lifetime=0
slow_query_log=1

#gtid
gtid-mode=on
log-slave-updates=true
enforce-gtid-consistency=true
long_query_time=1
#skip-slave-start

server_id=1
auto_increment_increment=2
auto_increment_offset=1
replicate-ignore-db = mysql
replicate-ignore-db = sys
slave-skip-errors=all

#timeout
character-set-server = utf8
max_connections=10000
connect_timeout=30
delayed_insert_timeout =300
max_connect_errors=1500
#innodb
innodb_buffer_pool_size = 90G
innodb_buffer_pool_instances = 16
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
net_read_timeout=30
net_write_timeout=60
slave_net_timeout=30
port=3306
skip-name-resolve
connect_timeout=30
max_allowed_packet=24M
[mysqld_safe]
log-error=/home/mysql/master/log/error.log
